.POPOSDetails {
    max-width: 1400px;
    margin-inline: auto;
    display: grid;
    grid-template-areas:
        'a'
        'b';
}

.POPOSDetailsImage {
    grid-area: a;
    width: 100%;
}

.POPOSDetailsImage img {
    display: block;
    width: 100%;
    height: auto;
}

.POPOSDetailsText {
    grid-area: b;
    padding: 1rem;
}

ul {
    list-style: none;
    margin: none;
    padding: none;
}

.POPOSDetailsHrsAdd {
    padding: 0 1rem;
}

.POPOSDetailsFeatures {
    padding: 0 0 0 1rem;
}

.POPOSDetailsWebsite {
    color: rgb(192, 45, 26)
}

@media (min-width: 1024px) {
    .POPOSDetails {
        grid-template-areas: 'a b';
    }

    .POPOSDetailsImage img {
        width: auto;
        height: 100%;
        object-fit: revert;
    }
}